.Header{
    background-color: #b97c0b;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    color: white;

}  
.navlinks{
    display: flex;
    gap: 20px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.logo{
    font-size: 30px;
    font-weight: bold;
    margin-top: 5px;

}
